In [2]:
import pandas as pd
import sqlite3

In [3]:
# Create a SQL connection to our SQLite database
con = sqlite3.connect("hkjc.db")
cur = con.cursor()

In [ ]:
# Return all results of query
cur.execute('SELECT * FROM horses')
cur.fetchall()

# Return first result of query
#cur.fetchone()

In [4]:
horses = pd.read_sql_query("SELECT * FROM horses", con)

In [5]:
horses.head()

,horseid,horsename,country,colour,sex,importtype,owner,sire,dam,damsire,url,age
0,HK_2006_H093,MY SAY,AUS,Brown,Gelding,PP,Ip Chi Kin,Canny Lad,Vale Nymph,Avon Valley,https://racing.hkjc.com/racing/information/eng...,NaN
1,HK_2007_J203,MY WAY,NZ,Bay,Gelding,PPG,Anthony Wu Ting Yuk,Danske,Timpani,Maizcay,https://racing.hkjc.com/racing/information/eng...,NaN
2,HK_1982_T089,MY WAY,IRE,Chestnut,Gelding,SG,,Majority Blue,Gentle Enemy,,https://racing.hkjc.com/racing/information/eng...,NaN
3,HK_1996_P149,MY WAY,USA,Brown,Gelding,PP,Dr Chang Fuk To,Red Ransom,What Not To Do,What Luck,https://racing.hkjc.com/racing/information/eng...,NaN
4,HK_2014_T244,MY HAY,AUS,Chestnut,Gelding,PPG,Kenneth Wu Pak Kei,Freeze,Alleged Encounter,Encounter,https://racing.hkjc.com/racing/information/eng...,NaN

In [9]:
horseraces = pd.read_sql_query("SELECT * FROM horsesraces", con)

In [24]:
horseraces.head()

,horseid,raceid,place,draw,rating,trainer,jockey,lengthbehindwinner,winodds,actualweight,position1,position2,position3,position4,position5,position6,finishtime,declaredweight,gear
0,HK_2010_M401,2015-12-16-257-2200-Turf,01,7.0,50.0,P O'Sullivan,J Moreira,HD,3.6,128,8.0,8.0,8.0,8.0,7.0,1.0,139.27,1092.0,B
1,HK_2012_P405,2017-10-29-145-2200-Turf,01,5.0,30.0,A Lee,M L Yeung,1-1/4,5.8,128,9.0,6.0,5.0,5.0,5.0,1.0,138.77,1086.0,B/TT
2,HK_2012_P405,2015-04-29-575-2200-Turf,01,7.0,43.0,A Lee,M L Yeung,1/2,4.2,114,9.0,9.0,9.0,9.0,9.0,1.0,136.84,1043.0,E/P/TT
3,HK_2012_P405,2015-02-25-414-2200-Turf,01,3.0,37.0,A Lee,M L Yeung,N,17.0,111,10.0,11.0,11.0,11.0,12.0,1.0,137.10,1043.0,E/P/TT
4,HK_2006_H097,2009-03-18-473-2200-Turf,01,2.0,65.0,C Fownes,B Prebble,N,4.9,121,7.0,6.0,7.0,7.0,9.0,1.0,138.63,1026.0,B/H

In [27]:
horseraces.loc[horseraces['raceid'] == "2021-05-05-651-1200-Turf"]

,horseid,raceid,place,draw,rating,trainer,jockey,lengthbehindwinner,winodds,actualweight,position1,position2,position3,position4,position5,position6,finishtime,declaredweight,gear
319098,HK_2017_B402,2021-05-05-651-1200-Turf,03,7.0,82.0,C Fownes,C Y Ho,3-1/4,15.0,116,11.0,8.0,3.0,NaN,NaN,NaN,69.20,1175.0,B/TT
319108,HK_2019_D197,2021-05-05-651-1200-Turf,10,11.0,87.0,J Size,K Teetan,9,13.0,121,12.0,12.0,10.0,NaN,NaN,NaN,70.11,1120.0,TT
319170,HK_2018_C082,2021-05-05-651-1200-Turf,06,8.0,83.0,K H Ting,C Schofield,5,22.0,118,9.0,9.0,6.0,NaN,NaN,NaN,69.47,1084.0,TT
319256,HK_2017_B119,2021-05-05-651-1200-Turf,01,3.0,88.0,C S Shum,A Badel,1,3.5,122,2.0,2.0,1.0,NaN,NaN,NaN,68.66,1216.0,TT
319349,HK_2019_D481,2021-05-05-651-1200-Turf,02,4.0,82.0,K W Lui,M F Poon,1,3.7,114,1.0,1.0,2.0,NaN,NaN,NaN,68.83,1276.0,B
319358,HK_2018_C058,2021-05-05-651-1200-Turf,04,1.0,92.0,P F Yiu,H Bentley,3-3/4,12.0,126,5.0,4.0,4.0,NaN,NaN,NaN,69.26,1142.0,CP
319384,HK_2018_C037,2021-05-05-651-1200-Turf,07,6.0,80.0,W Y So,H W Lai,5-1/4,55.0,114,10.0,11.0,7.0,NaN,NaN,NaN,69.50,1100.0,V/TT
319415,HK_2019_D147,2021-05-05-651-1200-Turf,05,10.0,96.0,A S Cruz,M Chadwick,3-3/4,9.5,130,3.0,3.0,5.0,NaN,NaN,NaN,69.26,1186.0,B/TT
319438,HK_2017_B377,2021-05-05-651-1200-Turf,09,9.0,83.0,C Fownes,J Moreira,9,8.0,117,6.0,6.0,9.0,NaN,NaN,NaN,70.10,1188.0,XB/TT
319503,HK_2018_C299,2021-05-05-651-1200-Turf,08,5.0,84.0,P O'Sullivan,K C Leung,7-1/4,25.0,118,4.0,5.0,8.0,NaN,NaN,NaN,69.81,1042.0,None
319526,HK_2017_B025,2021-05-05-651-1200-Turf,12,2.0,90.0,A T Millard,A Hamelin,15,28.0,124,7.0,7.0,12.0,NaN,NaN,NaN,71.06,1119.0,B/TT
319601,HK_2019_D093,2021-05-05-651-1200-Turf,11,12.0,99.0,D J Whyte,C L Chau,12-1/4,14.0,126,8.0,10.0,11.0,NaN,NaN,NaN,70.61,1144.0,XB

In [12]:
races = pd.read_sql_query("SELECT * FROM races", con)

In [20]:
races = races.sort_values('racedate', ascending=False)

races.head()

,raceid,raceidseason,racedate,racetrack,tracktype,course,distance,going,raceclass
26567,2021-05-05-651-1200-Turf,651,2021-05-05,HV,Turf,A,1200,GF,2
26566,2021-05-05-649-1200-Turf,649,2021-05-05,HV,Turf,A,1200,GF,3
26548,2021-05-05-645-1000-Turf,645,2021-05-05,HV,Turf,A,1000,GF,4
26549,2021-05-05-644-1650-Turf,644,2021-05-05,HV,Turf,A,1650,G,3
26550,2021-05-05-646-1200-Turf,646,2021-05-05,HV,Turf,A,1200,GF,4

In [16]:
races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26568 entries, 0 to 26567
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   raceid        26568 non-null  object
 1   raceidseason  26568 non-null  object
 2   racedate      26568 non-null  object
 3   racetrack     26568 non-null  object
 4   tracktype     26568 non-null  object
 5   course        21804 non-null  object
 6   distance      26568 non-null  int64
 7   going         26568 non-null  object
 8   raceclass     26568 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.8+ MB

In [ ]:
# Be sure to close the connection
con.close()